<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vivek" translate="label" sortOrder="10">
            <label>Vivek</label>
        </tab>
        <section id="vivek_groupedproductattribute" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Grouped Product Attribute</label>
            <tab>vivek</tab>
            <resource>Vivek_GroupedProductAttribute::gpa_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attibutelist" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Attributes List</label>
                    <source_model>Vivek\GroupedProductAttribute\Model\Config\Source\AttributeList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
